# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
dist/

# production
*.tsbuildinfo
next-env.d.ts

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# local data / generated content
data/*.store.json
data/*.db
data/*.db-shm
data/*.db-wal

# prisma
prisma/migrations/

# vercel
.vercel/

# OS / editor
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/

# testing / coverage
coverage/
playwright-report/
test-results/
